{
    "env":
    {
        "browser": true,
        "es6": true
    },
    "globals":
    {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "d3": false,
        "HTMLImports": true,
        "ShadyDOM": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
    "rules":
    {
        "indent": ["error", 2],
        "space-before-function-paren": ["error", "never"]
    }
}
